#filter-box{
    position: absolute;
    width: 150px;
    height: 300px;
    top: 90px;
    border: 2px solid black;
    resize: both;
    overflow: auto;
}

h3{
    margin: 12px 12px 0px;
}

hr{
    margin: 6px 12px;
}

#remote{
    display: inline-block;
    margin-right: 0;
}