#filter-box{
    position: absolute;
    width: 15vw;
    height: 60vh;
    top: 90px;
    border: 2px solid black;
    overflow: auto;
}

h3{
    margin: 12px 12px 0px;
}

hr{
    margin: 6px 12px;
}

#remote{
    display: inline-block;
    margin-right: 0;
}
ng-toggle{
    display: inline-block;
    position: relative;
    top: -21px;
    left: 120px;
 
}
mat-divider{
    margin: 6px 12px;
}