#banner {
    position: relative;
    background-color: #004f98;
    height: 10vh;
    width: 100vw;
    color: white;
    border: 2px solid black;
}
h2 {
    display: inline-block;
    position: absolute;
    margin: 0;
    border: 2px solid purple;
   
}

ul {
    display: inline-block;
    position: absolute;
    right: 200px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 2px solid green;
}
ul li {
    margin-right: 10px;
    display: inline-block;
    border: 2px solid red;
}

ul li:last-child {
    margin-right: 0px;
}

button {
    position: absolute;
    right: 80px;
    border: 2px solid orange;
}
