#banner {
    background-color: #004f98;
    height: 10vh;
    width: 100vw;
    color: white;
}
h2 {
    display: inline-block;
   
}

.banner-nav{
    display: inline-block;
}
ul {
    list-style-type: none;
   
}

ul li {
    float: left;
    
    
}
