#banner {
    background-color: #004f98;
    height: 10vh;
    width: 100vw;
    color: white;
}
h2 {
    display: inline-block;
    border: 2px solid purple;
   
}

.banner-nav{
    display: inline-block;
    border: 2px solid black;
}
ul {
    margin: 0;
    list-style-type: none;
    border: 2px solid green;
   
}

ul li {
    border: 2px solid red;
}

button {
    border: 2px solid red;
}
