#background-div {
  position: relative;
  width: 100vw;
  height: 96.5vh;
  background-color: #d0d6e6;
}

h1 {
  position: relative;
  top: 30px;
  margin: 0;
  margin-left: 5vw;
  border: 2px solid red;
}

mat-form-field {
  position: relative;
}

#inner-one {
  display: flex;
  position: relative;
  border: 1px solid black;
}

#inner-two {
  position: relative;
  border: 1px solid black;
}
