<div id="background-div">
  <h1 id="browse-jobs">Browse Jobs</h1>
  <div id="inner-one">
    <app-filter-box></app-filter-box>
    <div id="inner-two">
      <mat-form-field id="search-bar">
        <input type="text" matInput placeholder="Search" />
        <button matSuffix mat-button><mat-icon>search</mat-icon></button>
      </mat-form-field>
      <div id="header-search">
        <h2 id="header-one-search">Backend Jobs</h2>
      </div>
      <h3>437 Backend Jobs available</h3>
      <div id="job-listing-container">
        @for (job of jobsArray; track job.id) {
          <div id="job-entry">
            <h4>
              {{ job.title }}
            </h4>
            <div>
              <span>{{ job.companyName }}</span>
              <span> {{ job.location }}</span>
              <span> {{ job.postedDate }}</span>
            </div>

            <div>
              <span> {{ job.salaryMin }} - {{ job.salaryMax }} </span>
              <div id="skill grouping">
                @for (skill of job.skills; track $index) {
                  <span> {{ skill }}</span>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
