#background-div {
  position: relative;
  width: 100vw;
  height: 96.5vh;
  background-color: #d0d6e6;
}

#browse-jobs {
  position: relative;
  top: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 5vw;
  border: 2px solid red;
}

#inner-one {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  border: 1px solid black;
}

#inner-two {
  border: 1px solid black;
  margin-left: 2.5vw;
}

#header-search {
  display: flex;
  justify-content: space-between;
}
