#background-div{
    position: relative;
    width: 100vw;
    height: 96.5vh;
    background-color: #d0d6e6;
}

h1 {
    position: absolute;
    top: 30px;
    margin: 0;
    margin-left: 5vw;
    border: 2px solid red;
}
